body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: white;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
  }
  
  header img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  
  header h1 {
    margin: 10px 0;
  }
  
  section {
    padding: 50px 0;
  }
  
  .about-me p {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .contact p {
    margin-bottom: 10px;
  }
  
  .portfolio-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .portfolio-item {
    width: 30%;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .portfolio-item img {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #fcf8f8;
    color: #080808;
    text-align: center;
    padding: 10px 0;
  }
  